.header {
  padding: 15px 0;
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionButton {
  display: none;
}

.cart {
  position: relative;
}

.cart > span {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  width: 16px;
  height: 16px;
  background: #EF4934;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  color: #111;
}

.theme {
  display: none;
}

.nav {
  display: none;
}

.login {
  display: none;
}

.signUp {
  display: none;
}


@media (min-width: 1290px) {

  .mobile {
    display: none;
  }

  .header {
    padding: 17px 0;
  }

  .container {
    width: 1175px;
  }

  .logo {
    width: 46px;
    height: 46px;
  }

  .logo > svg {
    width: 100%;
    height: 100%;
    object-fit: cover
  }

  .theme {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 49px;
  }

  .themeButton > svg {
    opacity: .3;
    transition: .3s all;
  }

  .themeButton:hover > svg {
    opacity: 1;
  }

  .themeButton.themeActive > svg {
    opacity: 1;
  }

  .nav {
    margin-left: auto;
    display: block;
  }

  .navWrapper {
    display: flex;
    align-items: center;
    gap: 49px;
    list-style: none;
  }

  .navLink {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
  }

  .navLinkActive {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
  }

  .actions {
    margin-left: 124px;
  }

  .actionButton {
    border-radius: 40px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: var(--static-grey-1, #333);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--static-white, #FFF);
    stroke: var(--static-white, #FFF);
    text-decoration: none;
    transition: .3s all;
  }

  .actionButton path {
    stroke: inherit;
  }

  .actionButton:hover {
    background: var(--static-grey-2, #656565)
  }

  .actionButton:disabled {
    border: 1px solid var(--static-grey-2, #656565);
    background-color: transparent;
    color: var(--static-grey-2, #656565);
    stroke: var(--static-grey-2, #656565);
    cursor: default;
  }

  .actionButton.active {
    background: var(--main-red, #EF4934)
  }

  .actionButton.active:hover {
    background-color: var(--hover-red, #D43824);
  }


  .menu {
    display: none;
  }
}