:root {
  --font-family: "Montserrat", sans-serif;
  --main-red: #EF4934;
}

:root[data-theme="light"] {
  --hover-red: #D43824;
  --darkest-grey: #111;
  --grey-1: #333;
  --grey-2: #656565;
  --grey-3: #CCC;
  --grey-4: #E1E1E1;
  --grey-hover: #F1F1F1;
  --white: #FFF;
}

:root[data-theme="dark"] {
  --white: #111;
  --darkest-grey: #FFF;
  --grey-1: #F1F1F1;
  --grey-2: #CCC;
  --grey-3: #333;
  --grey-4: #656565;
  --grey-hover: #656565
}

html {
  font-family: var(--font-family);
}

body {
  background-color: var(--white);
  color: var(--darkest-grey)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  width: 330px;
  margin: 0 auto;
}

@media (min-width: 1290px) {

  .container {
    width: 1175px;
  }
}