:root {
  --font-family: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 330px;
  margin: 0 auto;
}

@media (min-width: 1290px) {

  .container {
    width: 1175px;
  }
}